/* Non finished runners. */
.runner-container {
	width: 658px;
	height: 84px;
}

.runner-top-row {
	width: 658px;
}

.runner-bottom-row {
	width: 658px;
}

#runner-container1 {
	left: 31px;
	top: 647px;
}

#runner-container2 {
	left: 992px;
	top: 647px;
}

.runner-top-row > .runner-name {
	padding-right: 310px;
}

/* Finished runners */
#finished-runner-container1 {
	left: 615px;
    top: 844px;
}

/* Commentators. */
.comms-name {
	width: 343px;
}

.comms-pronouns {
	width: 179px;
}

#comms-container1 {
	left: 20px;
	top: 845px;
}

#comms-container2 {
	left: 20px;
	top: 911px;
}

#comms-container3 {
	left: 20px;
	top: 975px;
}

/* Timer. */
#timer {
    left: 1238px;
    top: 834px;
}

/* Round. */
#round {
    left: 1221px;
    top: 953px;
}
