/* Non finished runners. */
.runner-top-row {
	width: 658px;
}

.runner-bottom-row {
	width: 658px;
}

#runner-container1 {
	left: 231px;
}

#runner-container2 {
	left: 1080px;
}

.runner-top-row>.runner-name {
	padding-right: 310px;
}

/* Finished runners */
#finished-runner-container1 {
	left: 1300px;
	top: 730px;
}

/* Round. */
#round {
	left: 1203px;
	top: 953px;
}