#on-deck-info-container1 {
	left: 104px;
	top: 287px;
}

#on-deck-info-container2 {
	left: 104px;
	top: 570px;
}

#on-deck-info-container3 {
	left: 104px;
	top: 850px;
}

#tech-info-container1 {
	left: 305px;
	top: 363px;
}

#tech-info-container2 {
	left: 305px;
	top: 645px;
}

#tech-info-container3 {
	left: 305px;
	top: 927px;
}
