.on-deck-info-container {
	position: absolute;
	width: 1852px;
	height: 57px;
}


.info > .runner {
	display: inline-block;
	width: 524px;
	height: 52px;
	padding-right: 90px;
	font-size: 30pt;
	text-align: center;
}

.tech-info-container {
	position: absolute;
	display: flex;
	width: 1309px;
	height: 56px;
}

.on-deck-channel {
	float: left;
	vertical-align: middle;
	width: 652px;
	font-size: 30pt;
	text-align: center;
}

.on-deck-start {
	width: 657px;
	font-size: 30pt;
	text-align: center;
}

.on-deck-start span {
	white-space:nowrap;
}
